noremap  yy "*y
noremap  YY "*Y
noremap  pp "*p
noremap  PP "*P
noremap ,, :noh<ENTER>
vnoremap yy "*y
vnoremap YY "*Y
vnoremap pp "*p
vnoremap PP "*P
set hls
set incsearch
set ic
set nu rnu
imap jj <Esc>
set so=5
